* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Inter';
}

#cover {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;

    transform: translateX(0%);
    transition-property: none;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0.50, 0, 0.70, 0);
}

#cover > .intro {
    margin-left: 5vw;
    margin-bottom: 5vh;
    user-select: none;
}

.intro > h3 {
    font-size: min(4vmax, 8vmin);
    font-weight: 400;
    letter-spacing: .2vmin;
    padding-bottom: 10px;
}

.intro > h1 {
    font-size: min(10vmax, 20vmin);
    font-weight: 900;
    letter-spacing: 1vmin;
}

